 
.right-side3 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .error-message {
    color: red;
    font-size: 12px;
    padding-top: 2px;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .main-forgot-password{
    width: 20%;
  }
  @media screen and (max-width: 533px) {
    .main-forgot-password{
      width: 80%;
    }
  }

  .sign3{
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: #7367f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  

.form-outer2{
  width: 100%;
  margin: auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}


.icontext2{
  border: 2px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  /* display: block; */
  width: 100%;
  outline: 0;

}

.form-input2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon2{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
} 
